:host {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto -30px;
  justify-content: space-around;
  max-width: 1170px;
  width: 100%;
}

::content cp-card {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}